{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<style>
    
</style>

<div class="">

        {{user.image}}
        {{user.userFirstName}}
        {{user.userName}}
        
</div>
{% endblock %}